* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  text-align: center;
}

main h1 {
  margin: 20px 0;
}

.form_input {
  padding: 5px 10px;
  outline: none;
}

.form_btnAdd {
  padding: 5px 10px;
  
}

.taskList {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

.tasks {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #4CAF50;
  border-radius: 10px;
}

.task_done{
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}

.task_name {
  width: 300px;
  text-align: start;
}

.task_button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.search_task {
  padding: 5px 10px;
  outline: none;
  margin-top: 20px;
}

.hide_search{
  display: none;
}